<div [ngClass] = "{
    'search-box-container': !(input == ' '|| input == ''),
    'new-search-box':input == ' '|| input == ''
    }">
    <input type = "text" class = "input-field" [(ngModel)] = "input" placeholder = "Type Your Request Here..."
        (keyup.enter) = "check()"/>
    <app-speech-recogniser 
        *ngIf = "microphone"
        (onChangeInput) = "onChangeInput($event)">
    </app-speech-recogniser>
        <mat-icon class = "send" *ngIf = "!(input == ' ' || input == '')" (click) = "check()"> send </mat-icon>
</div>