<div id="myCarousel" class="carousel slide top-to-bottom"  data-ride="carousel">
    <div class="carousel-inner" id="my_text_slider">
        <div class="active item"><p>WE ARE Travellers</p></div>
        <div class="item"><p>Exploring is amazing</p></div>
        <div class="item"><p>Think the Travel</p></div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
</div>