.top-to-bottom .carousel-inner {
  height: 100%;
}

.carousel {
    background: #448AFF;
    text-align: center;
}

.carousel.top-to-bottom .item {
   -webkit-transition: 0.6s ease-in-out top;
   -moz-transition: 0.6s ease-in-out top;
   -ms-transition: 0.6s ease-in-out top;
   -o-transition: 0.6s ease-in-out top;
   transition: 0.6s ease-in-out top;
}

.carousel.top-to-bottom .active {
   top: 0;
}

.carousel.top-to-bottom .next {
   top: 400px;
}

.carousel.top-to-bottom .prev {
   top: -400px;
}

.carousel.top-to-bottom .item {
   left: 0;
}

#my_text_slider {
    text-transform:uppercase;
    color:#FFFFFF;
    font-size:5em;
    height:180px;
    font-family: 'Fjalla One';
}